.button {
  width: 100%;
  display: block;
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: #102770;
  color: #fff;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover {
  background-color: #07246d;
}

.button:disabled {
  color: #fff6;
  cursor: not-allowed;
}

.spaceBelow {
  margin-bottom: 8px;
}
